button {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}

.main {
    height: 900px;
    width: 40%;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: rgb(58, 160, 89);
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0,0,0,.6);
}

/*
====================================================
================= Start tittle =====================
====================================================
*/

.left {
    float: left;
    width: 33%;
}

.right {
    float: right;
    width: 33%;
}

.center {
    display: inline-block;
    margin: 0 auto;
    width: 34%;
}

.title {
    width: 80%;
    margin: auto;
    background-color: rgba(53, 56, 216, 0.918);
    border-radius: 100px;
    text-align: center;
    margin-top: 40px;
    color: white;
    box-shadow: 0 4px 16px rgba(0,0,0,.6);
}

.transtalte {
    height: 40px;
    width: 60px;
    margin-right: -50px;
    margin-top: 13px;
}

/*
====================================================
=================== And tittle =====================
====================================================
*/

body {
    background-color: rgb(121, 197, 90);
    height: 950px;
}

@media only screen and (max-width: 680px) {
    .main {
        height: 1000px;
    }

    body {
        height: 1000px;
    }
}

@media only screen and (max-width: 900px) {
    .main {
        height: 1300px;
        width: 99%;
    }
}

@media only screen and (max-width: 1000px) {
    .transtalte {
        margin-right: 1px;
    }

    body {
        height: 1370px;
    }

    .main {
        height: 1300px;
        width: 88%;
    }
}