.navbar {
    height: 60px;
    background-color: rgb(162, 247, 166);
    border-radius: 40px;
    position: fixed;
    top: 20px;
    left: 40px;
    right: 40px;
    z-index:999999;
}

.Social-nav {
    background-color: rgb(162, 247, 166);
    cursor: pointer;
    width: fit-content;
    max-width: 200px;
    height: 100%;
}

.Social-nav:hover {
    color: rgba(245, 129, 51, 0.575);
}

.left {
    float: left;
    width: 40%;
}

.right {
    float: right;
    width: fit-content;
    padding-right: 10px;
}

@media only screen and (max-width: 900px) {
    .forScreenType {
        display: none;
    }
}
