h1 {
    width:40%;
    color:rgb(255, 255, 255);
    text-align:center;
    font-size: 30px;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    margin: 0 auto;
}

#pulsante {
    background-color: rgb(241, 241, 241);
    margin: 0 auto;
    text-align:center;
    float: right;
}

h2 {
    width: auto;
    height: auto;
    color:rgb(255, 255, 255);
    text-align:center;
    font-size: 23px;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    margin: 0 auto;
}

span {
    background-color: rgb(65, 65, 65);
}

p {
    margin: auto;
    width: fit-content;
    font-size: 19px;
    color: white;
    text-decoration-color: white;
    text-align: center;
}

body {
    background-image: url('../assets/body_wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#conteiner {
    width: 100px;
    text-align: center;
    margin: 0 auto;
}

.social1 {
    transition-duration: 1s;
    -ms-transition-duration: 1s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-property: transform;
    -ms-transition-property: -ms-transform;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    overflow: hidden;
    text-align: center;
    float: left;
    width: 40px;
}

.social2 {
    transition-duration: 1s;
    -ms-transition-duration: 1s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-property: transform;
    -ms-transition-property: -ms-transform;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    overflow: hidden;
    text-align: center;
    float: right;
    width: 40px;
}

.bounce:hover {
    -ms-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
}

