.card {
    width: 200px;
    height: 220px;
    background-color: transparent;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: inline-block;
    margin: 14px;
}

.card:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.front, .back {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    text-align: center;
    align-self: start;
}

.instagram {
    background: linear-gradient(90deg,
                rgb(180, 58, 170) 0%,
                rgb(200, 29, 253) 35%,
                rgba(252, 176, 69) 100%);
}
/*
.telegram {
    background: linear-gradient(90deg,
                rgb(3, 184, 255) 0%,
                rgb(4, 92, 255) 100%);
} */

.telegram {
    background: linear-gradient(90deg,
                rgb(4, 134, 255) 0%,
                rgb(91, 3, 255) 100%);
}

.github {
    background: linear-gradient(90deg,
                rgb(94, 94, 94) 0%,
                rgb(17, 17, 17) 100%);
}

.twitter {
    background: linear-gradient(90deg,
                rgb(3, 163, 255) 0%,
                rgb(4, 21, 255) 100%);
}

.twitter img {
    border-radius: 20%;
}

.reddit {
    background: linear-gradient(90deg,
                rgb(231, 146, 146) 0%,
                rgb(204, 73, 73) 100%);
}

.linkedin {
    background: linear-gradient(90deg,
                rgb(164, 171, 255) 0%,
                rgb(29, 119, 255) 100%);
}

.img {
    width: 100px;
    height: 100px;
}

.back .social-btn {
    margin-top: 20px;
    height: 3rem;
    width: 9rem;
    border: 3px solid rgb(255, 255, 255);
    background: transparent;
    color: white;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.social-btn::before,
.social-btn::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: 0.5s ease;
}

.social-btn::before {
    left: -15px;
    top: -15px;
    border-width: 3px 0 0 3px;
}

.social-btn::after {
    right: -15px;
    bottom: -15px;
    border-width: 0 3px 3px 0;
}

.back .img {
    border-radius: 50%;
}

.back {
    transform: rotateY(180deg);
    background: #5c9dff;
}