#sidebar {
    z-index: 1;
    color: white;
    position: absolute;
    width: 200px;
    background-color: rgb(61, 61, 61);
    height: 100%;
    padding-top: 40px;
    padding-left: 20px;
    transform: translateX(-300px);
    transition: all 0.4s ease-in-out;
}

#sidebar.active {
    z-index: 1;
    transition-delay: 0.1s;
    transform: translateX(0px);
}