#navMenu {
    position: absolute;
    z-index: 2;
}

#navMenu > span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: white;
}
/*
.sticky {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
} */

#navMenu > span:not(:last-child) {
    margin-bottom: 7px;
}

#navbar {
    z-index: 1;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: rgb(50, 50, 50);
    position: sticky;
    top: 0px;
}

#navMenu, #navMenu > span {
    transition: all 0.4s ease-in-out;
}

#navMenu.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);
}

#navMenu.active > span:nth-child(2) {
    width: 0;
}

#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(1) {
    transition-delay: 0.4s;
}

#navMenu.active > span:nth-child(1) {
    transform: translateY(9px);
}

#navMenu.active > span:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
}