body {
    background-color: black;
    text-align: center;
}

#main {
    color: white;
    font-size: 20px;
    margin-top: 30%;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}