h1 { font-size: 20px; color: white;}
p { font-size: 16px; background-color: white; text-align: center;}
h3 { background-color: white; color: green; font-size: 16px;}
.main {background-color: white;}
body {background-color: white;}
