.container-principale {
    background-color: aquamarine;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
}

img {
    transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-property: transform;
    -ms-transition-property: -ms-transform;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
}

.img-resource:hover {
    -ms-transform: scale(1.3,1.3);
    -webkit-transform: scale(1.3,1.3);
    -moz-transform: scale(1.3,1.3);
    -o-transform: scale(1.3,1.3);
}

body {
    padding-left: 10%;
    padding-right: 10%;
    align-content: center;
    background-color: rgb(15, 76, 100);
}

@media only screen and (min-width: 1300px) {
    body {
        padding-left: 30%;
        padding-right: 30%;
    }
}

.bounce:hover {
    background-color: rgba(0, 0, 0, 0.082);
}